{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'shop/style.css' %}" />
    <title>Ecommerce</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Navbar</a>
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"
                      >Home</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                  </li>
                  <li class="nav-item">
                    <button
                      id="cart"
                      type="button"
                      class="btn btn-secondary"
                      data-bs-container="body"
                      data-bs-toggle="popover"
                      data-bs-placement="bottom"
                    >
                      Cart (0)
                    </button>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true"
                      >Disabled</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <form class="card card-sm">
            <div class="card-body row no-gutters align-items-center">
              <div class="col">
                <input
                  type="search"
                  name="item_name"
                  placeholder="Search for products"
                  class="form-control form-control-borderless"
                />
              </div>
              <div class="col-auto">
                <button class="btn btn-success" type="submit">Search</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="row">
        {% for product in products %}
        <div class="col-md-3">
          <div class="card">
            <img src="{{ product.image }}" class="card-img-top" />
            <div class="card-body">
              <div id="item-{{ product.id }}" class="card-title">
                {{ product.title }}
              </div>
              <div id="price{{product.id}}" class="card-text">
                {{product.price}}
              </div>
              <a href="/{{ product.id }}" class="btn btn-warning">View</a>
              <button id="{{ product.id }}" class="btn btn-warning link-atc">
                Add to cart
              </button>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="row">
        <div class="col-md-3 offset-md-4">
          <ul class="pagination">
            {% if products.has_previous %}
            <li class="page-item">
              <a
                class="page-link"
                href="?page={{ products.previous_page_number }}"
                >Previous</a
              >
            </li>
            {% endif %}

            <li class="page-item">
              <a class="page-link" href="?page={{ products.number }}"
                >Current</a
              >
            </li>

            {% if products.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ products.next_page_number }}"
                >Next</a
              >
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript">
    const getItems = () => {
      let cart;
      if (!localStorage.getItem('cart')) {
        cart = {};
      } else {
        cart = JSON.parse(localStorage.getItem('cart'));
      }
      return cart;
    };

    const displayCart = (cart) => {
      let cartString = '';
      cartString += '<h5>This is your cart</h5>';
      let cartIndex = 1;
      let cartObject = JSON.parse(localStorage.getItem('cart'));
      for (let id in cartObject) {
        cartString += `${cartIndex} ${cartObject[id][1]} Qty: ${cart[id][0]}<br>`;
        cartIndex++;
      }
      cartString +=
        '<a id="checkout-btn" href="/checkout" class="btn btn-warning">Checkout</a>';
      return cartString;
    };

    $(() => {
      let cart = getItems();
      const popover = new bootstrap.Popover($('#cart'), {
        html: true,
        content: displayCart(cart),
      });

      $(document).on('click', '.link-atc', function () {
        let id = this.id.toString();
        let quantity = 0;
        if (cart[id]) {
          quantity = cart[id][0] + 1;
          cart[id][0] = quantity;
          cart[id][2] += parseFloat($('#price' + id).html());
        } else {
          quantity = 1;
          price = parseFloat($('#price' + id).html());
          let name = $('#item-' + id).html();
          cart[id] = [quantity, name, price];
        }
        localStorage.setItem('cart', JSON.stringify(cart));
        $('#cart').text('Cart (' + Object.keys(cart).length + ')');
        popover.setContent({
          '.popover-body': displayCart(cart),
        });
      });
    });
  </script>
</html>
